.features-container {
  background-color: rgba(224, 224, 224, 0.705);
  padding: 5rem 15rem 5rem 15rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: max-content;
  grid-gap: 4rem;
}

.feature-item {
  display: flex;
  height: 100%;
  align-items: center;
  color: white;
  /* text-align: start; */
  font-size: 2rem;
  padding: 2rem;
  background-color: rgba(83, 83, 83, 0.63);
  /* border-radius: 5px; */
}
